body
{
    font-family: 'Open Sans', 'Gill Sans';
}

h3 { font-family: 'Open Sans', 'Alegreya SC', 'Garamond', 'Georgia'; font-weight: normal}
h2 { font-family: 'Open Sans', 'Alegreya SC', 'Garamond', 'Georgia' ; font-weight: normal;}
h1 { font-family: 'Open Sans', 'Alegreya SC', 'Garamond', 'Georgia' ; font-weight: normal;}

body, .navbar-default, .navbar
{
    background-color: #96b7ff;
    background-color: #FFF;
    color: #333;
}

/* we like off-black for text */
body, select, input, textarea
{
    color: #333;
}

#content
{
    background-color: #FFF;
}

#content header
{
    padding-bottom: 1em;
}

a,
a:visited
{
    color: #96b7ff;
}

a:focus,
a:hover
{
    color: #96b7ff;
    text-decoration: underline;
}

#content p a
{
    text-decoration: underline;
}

.navbar
{
    border: 0;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a
{
    color: #96b7ff;
    text-decoration: none;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover
{
    color: #FFF;
    text-decoration: underline;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover
{
    color: #FFF;
    background-color: #96b7ff;
}

.navbar-default .navbar-toggle .icon-bar
{
    background-color: #FFF;
}

.jumbotron, #site-footer
{
    background-color: #96b7ff;
    background-color: #FFF;
    color: #FFF !important;
    border: 0;
}

.breadcrumb
{
    background-color: inherit;
    padding-left: 0;
}

    .breadcrumb > .active
    {
        color: #838F67;
    }

.browsenav
{
    font-size: .9em;
    background: transparent;
    color: inherit;
    padding-bottom: .3em;
    margin-top: 1em;
    margin-bottom: 2em;
}

    .browsenav .previous
    {
        float: left;
        width: 49%;
        text-align: right;
    }

    .browsenav .next
    {
        float: right;
        width: 50%;
        text-align: left;
    }

    .article-header-date
    {
        clear: both;
        padding-top: .5em;
        display: block;
    }

.article-header-date, .article-header-info
{
    color: #838F67;
}

.content-body p img,
.content-body .content-image img
{
    max-width: 100%;
}

hr
{
    border-top: 1px solid #838F67;
}

pre
{
    border: 0;
    border-radius: 0;
}

#content pre, #content pre code
{
    border-left: none;
    padding: 0;
    overflow: auto;
    white-space: pre;
    font-family: "Hack", Menlo, Monaco, Consolas, "Courier New", monospace;
}

#content pre code
{
    padding: .3em;
}

#content .edit
{
    font-size: .8em;
    color: #838F67;
}

#content .label
{
    background-color: #96b7ff;
}

td
{
    vertical-align: top;
    padding-right: 2em;
}

.highlighttable
{
    table-layout: fixed;
    width: 100%;
}

    .linenos
    {
        width: 3em;
    }

.relatedposts h2
{
    font-size: 24px;
    color: #96b7ff;
}

.relatedposts li
{
    font-size: .8em;
    line-height: 1.42857143;  /* calculation by bootstrap itself */
}

.pagination > li > a
{
    background-color: #838F67;
    color: #FFF;
    border: 1px solid #838F67;
}

.pagination > li > a:hover
{
    color: #96b7ff;
}

.pagination > .active > span
{
    background-color: #96b7ff;
    border: 1px solid #96b7ff;
}

/* isso commenting system styling */
.comments h2
{
    color: #96b7ff;
}

#isso-thread > h4
{
    color: #838F67 !important;
}

.isso-postbox > .form-wrapper > .auth-section .post-action > input
{
    border: 1px solid #838F67 !important;
    background-color: #838F67 !important;
    color: #FFF !important;
}

.isso-postbox > .form-wrapper > .auth-section .post-action > input:hover
{
    background-color: #96b7ff !important;
}

.post-action > input:hover
{
    border: 1px solid #96b7ff !important;
    background-color: #96b7ff !important;
}

.isso-postbox .auth-section
{
    padding-bottom: 1em;
}

/* -- fix bootstrap conflict with Pygments -- */
/* https://alcidanalytics.com/p/pygments-bootstrap-css-conflict */
.highlight pre
{
    white-space: pre;
    border-radius: inherit;
    display: inherit;
    background-color: inherit;
    border: inherit;
    color: inherit;
}

/* fix conflict with other stylesheets */
.highlight .m { margin: inherit; }
/* -- end of fix -- */

#sidebar h4
{
    color: #FFF;
}

#site-footer a
{
    color: #FFF;
    text-decoration: underline;
}
