body, .navbar-default
{
    background-color: #0c024d;
    color: #EEE;
}

.navbar
{
    border: 0;
}

.jumbotron, #site-footer
{
    background-color: #1B0B7D;
}

.content-body p img
{
    max-width: 100%;
}
