body, .navbar-default
{
    background-color: #0c024d;
    color: #EEE;
}

.navbar
{
    border: 0;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a
{
    color: #337ab7;
    text-decoration: none;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover
{
    color: #23527c;
    text-decoration: underline;
}

.jumbotron, #site-footer
{
    background-color: #07002F;
    border: 0;
}

.article-header-date, .article-header-info
{
    color: #3e6396;
}

.content-body p img
{
    max-width: 100%;
}

hr
{
    border-top: 1px solid #23527c;
}

pre
{
    border: 0;
}

#content pre
{
    border-left: 5px solid #23527c;
}

.browsenav
{
    font-size: .9em;
    background: transparent;
    color: inherit;
    padding-bottom: .3em;
    margin-top: 1em;
    margin-bottom: 2em;
}

    .browsenav .previous
    {
        float: left;
        width: 49%;
        text-align: right;
    }

    .browsenav .next
    {
        float: right;
        width: 50%;
        text-align: left;
    }

    .article-header-date
    {
        clear: both;
        padding-top: .5em;
        display: block;
    }

.pagination > li > a
{
    background-color: #07002F;
    border: 1px solid #07002F;
}
