body, .navbar-default, .navbar
{
    background-color: #838F67;
    color: #333;
}

/* we like off-black for text */
body, select, input, textarea
{
    color: #333;
}

#content
{
    background-color: #FFF;
}

a,
a:visited
{
    color: #5C6448;
/*    border-bottom: 1px dotted #39414F;*/
}

a:focus,
a:hover
{
    color: #5C6448;
    text-decoration: underline;
/*    border-bottom: 1px solid #39414F;*/
}

.navbar
{
    border: 0;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a
{
    color: #FFF;
    text-decoration: none;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover
{
    color: #FFF;
    text-decoration: underline;
}

.jumbotron, #site-footer
{
    background-color: #5C6448;
    color: #FFF !important;
    border: 0;
}

.breadcrumb
{
    background-color: inherit;
    padding: 0;
}

    .breadcrumb > .active
    {
        color: #3e6396;
    }

.browsenav
{
    font-size: .9em;
    background: transparent;
    color: inherit;
    padding-bottom: .3em;
    margin-top: 1em;
    margin-bottom: 2em;
}

    .browsenav .previous
    {
        float: left;
        width: 49%;
        text-align: right;
    }

    .browsenav .next
    {
        float: right;
        width: 50%;
        text-align: left;
    }

    .article-header-date
    {
        clear: both;
        padding-top: .5em;
        display: block;
    }

.article-header-date, .article-header-info
{
    color: #838F67;
}

.content-body p img
{
    max-width: 100%;
}

hr
{
    border-top: 1px solid #838F67;
}

pre
{
    border: 0;
    border-radius: 0;
}

#content pre
{
    border-left: 5px solid #838F67;
}

#content .label
{
    background-color: #5C6448;
}

.pagination > li > a
{
    background-color: #838F67;
    color: #FFF;
    border: 1px solid #838F67;
}

.pagination > li > a:hover
{
    color: #5C6448;
}

.pagination > .active > span
{
    background-color: #5C6448;
    border: 1px solid #5C6448;
}

/* isso commenting system styling */
.comments h2
{
    color: #3e6396;
}

#isso-thread > h4
{
    color: #2b6498 !important;
}

.isso-postbox > .form-wrapper > .auth-section .post-action > input
{
    border: 1px solid #2b6498 !important;
    background-color: #2b6498 !important;
}

.post-action > input:hover
{
    border: 1px solid #3e6396 !important;
    background-color: #3e6396 !important;
}
