<div class="summary">
    {% if article.standfirst %}
    <p class="standfirst">{{ article.standfirst|e }}</p>
    {% endif %}
    {{ article.summary }}
    {% if article.cover %}
    <a class="center fancybox" href="{{ article.cover.img.XXXL.href }}" 
        title='{{   article.cover.album_title }}'><img
            alt='{{ article.cover.album_title }}' class="article-cover img-responsive"
            src="{{ article.cover.img.XL.href }}"
    ></a>
    {% endif %}
    <p class="content-emphasis"><a href="{{ SITEURL }}/{{ article.url }}">
        Read more... <i class="fa fa-arrow-circle-right fa-fw fa-lg"></i>
    </a></p>
</div>
