{% extends "index.html" %}
{% block title %}Разделы:{{ category }} - {{ SITENAME }}{% endblock %}
{% block metadesc %}{{ SITETAGALT }}Записи в разделе {{ category }}{% endblock %}

{% block    custom_header %}
{% if CUSTOM_HEADER_CATEGORY %}
{% include "includes/" + CUSTOM_HEADER_CATEGORY %}
{% endif %}
{% endblock custom_header%}

{% block    container_header %}
{% if CUSTOM_CONTAINER_TOP_CATEGORY %}
{% include "includes/" + CUSTOM_CONTAINER_TOP_CATEGORY %}
{% endif %}
{% endblock container_header %}

{% block    content_header %}
{% if CUSTOM_CONTENT_TOP_CATEGORY %}
{% include "includes/" + CUSTOM_CONTENT_TOP_CATEGORY %}
{% endif %}
<ol class="breadcrumb">
    <li><a href="{{ SITEURL }}/" title="Home" rel="home">
		<i class="fa fa-home fa-fw fa-lg"></i> </a></li>
{% if CATEGORIES_URL %}
    <li><a href="{{ SITEURL }}/{{ CATEGORIES_URL }}">Categories </a></li>
{% else %}
    <li>Разделы </li>
{%endif%}
    <li class="active">{{ category }}</li>
</ol>
{% endblock content_header %}

{% block article %}
{% include "includes/index_summaries.html" %}
{% endblock article %}

{% block    content_footer %}
{% if CUSTOM_CONTENT_BOTTOM_CATEGORY %}
{% include "includes/" + CUSTOM_CONTENT_BOTTOM_CATEGORY %}
{% endif %}

<script type="text/javascript">if (!document.getElementById('mathjaxscript_pelican_#%@#$@#')) {
    var mathjaxscript = document.createElement('script');
    mathjaxscript.id = 'mathjaxscript_pelican_#%@#$@#';
    mathjaxscript.type = 'text/javascript';
    mathjaxscript.src = '//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML';
    mathjaxscript[(window.opera ? "innerHTML" : "text")] =
        "MathJax.Hub.Config({" +
        "    config: ['MMLorHTML.js']," +
        "    TeX: { extensions: ['AMSmath.js','AMSsymbols.js','noErrors.js','noUndefined.js'], equationNumbers: { autoNumber: 'AMS' } }," +
        "    jax: ['input/TeX','input/MathML','output/HTML-CSS']," +
        "    extensions: ['tex2jax.js','mml2jax.js','MathMenu.js','MathZoom.js']," +
        "    displayAlign: 'center'," +
        "    displayIndent: '0em'," +
        "    showMathMenu: true," +
        "    tex2jax: { " +
        "        inlineMath: [ ['\\\\(','\\\\)'] ], " +
        "        displayMath: [ ['$$','$$'] ]," +
        "        processEscapes: true," +
        "        preview: 'TeX'," +
        "    }, " +
        "    'HTML-CSS': { " +
        "        styles: { '.MathJax_Display, .MathJax .mo, .MathJax .mi, .MathJax .mn': {color: 'black ! important'} }, linebreaks: { automatic: false, width: 'container' }" +
        "    } " +
        "}); ";
    (document.body || document.getElementsByTagName('head')[0]).appendChild(mathjaxscript);
}
</script>
{% endblock content_footer %}

{% block    container_footer %}
{% if CUSTOM_CONTAINER_BOTTOM_CATEGORY %}
{% include "includes/" + CUSTOM_CONTAINER_BOTTOM_CATEGORY %}
{% endif %}
{% endblock container_footer %}
